@import 'components/_radio.css';
@import 'components/_checkbox.css';
@import 'components/_slider.css';
@import 'components/_toggle.css';
@import 'components/_textual.css';
@import 'components/_select.css';
@import 'components/_search.css';
@import 'components/_button.css';
@import 'components/_icon.css';

formfield {
    display: block;
    margin-bottom: 1em;
}

.oui-label {
    margin-bottom: 1em;
}

