.app-name-link > img{
    width: 80%;
}

#phone-container{
	position: relative;
	display: block;
	margin: auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	background: rgba(10,10,10,1);
	width: 200px;
	height: 400px;
	border-radius: 20px;
	box-shadow: -2px 3px 7px rgba(0,0,0,0.35);
}

#phone-shadows{
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width: 200px;
	height: 400px;
	border-radius: 20px;
	background: rgba(0,0,0,0);
	box-shadow: inset 0px 1px 1px 1px rgba(50,50,50,0.8),inset 0px -1px 1px 1px rgba(40,40,40,0.75),inset 0px -2px 3px 1px rgba(200,200,200,1),inset 0px -5px 3px 1px rgba(10,10,10,0.95),inset 0px 2px 3px 1px rgba(255,255,255,1),inset 3px 4px 3px 1px rgba(10,10,10,1), inset 6px 0px 3px 1px rgba(175,175,175,0.5),inset 10px 0px 10px 1px rgba(175,175,175,0.5), inset -3px 4px 3px 1px rgba(10,10,10,1), inset -6px 0px 3px 1px rgba(200,200,200,0.7),inset -10px 0px 10px 1px rgba(200,200,200,0.5);
}

#phone-screen{
	display: flex;
	color: white;
	position: absolute;
	margin: auto;
	left:0;
	right:0;
	top:-3px;
	bottom:0;
	width: 196px;
	height: 375px;
	border-radius: 17px;
}


#phone-camera{
	z-index: 2;
	position: absolute;
	margin: auto;
	left:auto;
	right:20px;
	top:20px;
	bottom:auto;
	background: rgba(20,20,20,1);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: inset 0px 0px 5px rgba(25,25,25,0.9);
}

#phone-lens{
	z-index: 3;
	position: absolute;
	margin: auto;
	left:auto;
	right:4px;
	top:4px;
	bottom:auto;
	background: rgba(60,60,80,1);
	width: 7px;
	height: 7px;
	border-radius: 50%;
	box-shadow: inset -1px 1px 3px rgba(175,175,195,0.5), inset 2px -3px 3px rgba(10,10,30,1);
}

#phone-sidebutton{
    position: absolute;
    margin: auto;
    left:auto;
    right:-2px;
    top:70px;
    bottom: auto;
    border-radius: 0px;
    box-shadow: inset -1px 0 2px rgba(255,255,255,0.5), inset 0px 1px 2px rgba(150,150,150,0.75), inset -1px -1px 2px 0 rgba(20,20,20,0.75);
    background: rgba(25,25,25,1);
    height: 30px;
    width: 3px;
}

#phone-ltbutton{
    position: absolute;
    margin: auto;
    left:-2px;
    right:auto;
    top:60px;
    bottom: auto;
    border-radius: 0px;
    box-shadow: inset -1px 0 2px rgba(255,255,255,0.5), inset 0px 1px 2px rgba(150,150,150,0.75), inset -1px -1px 2px 0 rgba(20,20,20,0.75);
    background: rgba(25,25,25,1);
    height: 50px;
    width: 3px;
}

#phone-lbbutton{
    position: absolute;
    margin: auto;
    left:-2px;
    right:auto;
    top:130px;
    bottom: auto;
    border-radius: 0px;
    box-shadow: inset -1px 0 2px rgba(255,255,255,0.5), inset 0px 1px 2px rgba(150,150,150,0.75), inset -1px -1px 2px 0 rgba(20,20,20,0.75);
    background: rgba(25,25,25,1);
    height: 30px;
    width: 3px;
}

#phone-time{
	font-size: 20px;
	transform: scaleY(1.25);
}

#phone-date{
	font-size: 12px;
}
