.oui-container-slider {
    width: 100%;
}

.oui-input-slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 3px;
    background: var(--primary);
    border:none;
    border-radius: 3px;
    outline: none;
}

.oui-input-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 17px; 
  height: 17px; 
  background: var(--primary);
  border: none;
  border-radius: 50%;
  cursor: pointer; 
  -webkit-transition: width .2s, height .2s, background-color .2s;
}

.oui-input-slider::-ms-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 17px; 
    height: 17px; 
    background: var(--primary);
    border: none;
    border-radius: 50%;
    cursor: pointer; 
    -webkit-transition: width .5s, height .5s, background-color .5s;
  }

  .oui-input-slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px; 
    height: 17px; 
    background: var(--primary); 
    border: none;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 1px var(--active);
    transition: width .5s, height .5s, background-color .5s;
}

.oui-input-slider:hover::-moz-range-thumb {
    width: 25px;
    height: 25px;
    box-shadow: 0px 0px 0px 6px rgba(0,0,0,0.2); 
}

.oui-input-slider::-moz-range-track {
    background-color: var(--inactive);
}

.oui-input-slider::-moz-range-progress {
    background-color:var(--primary);
}
