
@font-face {
    font-family: 'SamsungSharpSans-Regular';
    src: url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Regular.eot?#iefix') format('embedded-opentype'),  url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Regular.woff') format('woff'), url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Regular.ttf')  format('truetype'), url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Regular.svg#SamsungSharpSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }
  
@font-face {
  font-family: 'SamsungSharpSans-Bold';
  src: url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Bold.eot?#iefix') format('embedded-opentype'),  url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Bold.woff') format('woff'), url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Bold.ttf')  format('truetype'), url('https://samsunginter.net/OneUI-CSS/fonts/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
  

@font-face {
  font-family: 'SamsungOne-Regular';
  src: url('https://samsunginter.net/OneUI-CSS/fonts/samsungone-300-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

/*Roboto*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}
  