.oui-bubble-title {
  margin: 20px 10px 10px 20px;
  font-size: 1em;
  color: var(--text-secondary);
}

.oui-bubble {
  margin-bottom: 2em;
  padding: 20px;
  border-radius: 24px;
  border: 1px solid var(--border-surface);
  background-color: var(--surface);
}

.oui-bubble-item {
  position: relative;
  padding: 13px 0px;
}

.oui-bubble-item:after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0;
  /* width: calc(100% - 60px); */
  width: 100%;
  border-bottom: 1px solid var(--border-surface);
}

.oui-bubble-item:last-child:after {
  border: none;
}