:root {
	--oui-hideable-revealed--amount: 8.4em;
}

.oui-hideable-container > .container {
	position: fixed;
	height: 100%;
	overflow-y: auto;
}

.oui-hideable-container {
	position: relative;
	display: flex;
	justify-content: center;

	overflow-y: auto;
	scroll-snap-type: y mandatory;
	scroll-snap-stop: always;
    height: 100vh;

	/* Hide scrollbar */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.oui-hideable-container::-webkit-scrollbar {
	display: none;
}

.oui-hideable {
	top: calc(100% - var(--oui-hideable-revealed--amount));
	position: absolute;
	width: 100%;
	background: var(--hideable-backdrop) !important;
	backdrop-filter: blur(10px);
	pointer-events: auto;
	scroll-snap-align: start;
	contain: content;
	z-index: 10;
}

.oui-hideable-padding {
	height: var(--oui-hideable-revealed--amount);
	visibility: hidden;
}

.oui-hideable-snap {
	scroll-snap-align: start;
}
