.oui-label {
}

/*
.oui-container-radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 50px;
    height: 40px;
    margin-bottom: 1em;
    cursor: pointer;
    user-select: none;
}

.oui-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.oui-container-radio:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.oui-input-radio-checkmark {
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid var(--on-background);
    border-radius: 50%;
}

.oui-input-radio-checkmark:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 5px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.oui-container-radio:hover:before {
    background-color: var(--control-background);
}

.oui-container-radio input:checked ~ .oui-input-radio-checkmark {
    border-color: var(--primary);
    background-color: transparent;
}

.oui-container-radio input:checked ~ .oui-input-radio-checkmark:after {
    background-color: var(--primary);
}
*/