.oui-viewing {
    scroll-snap-align: start;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.oui-viewing-title {
    text-align: center;
    word-wrap: break-word;
    width: 60%;
}

.oui-interaction {
    height: 100%;
    scroll-snap-align: start;
}