:root{
    /*color palette*/
    --p-white: #FFFFFF;
    --white: #FCFCFC;
    --black: #252525;
    --d-grey: #858585;
    --m-grey: #e6e6e6;
    --l-grey: #d9d9d9;
    --xl-grey: #F2F2F2;
    --orange: #F56A0D;
    --blue: #0481FF;
    --l-blue: #4297ff;
    --xl-blue: #AAD0F5;
    --red: #F01346;
    --green: #15B76C;
    --purple: #6446E6;
    --yellow: #FF9E01;

    /*main theme variables*/
    --text: var(--black);
    --text-secondary: var(--d-grey);
    --primary: var(--blue);
    --secondary: var();
    --active: var(--l-blue);
    --inactive: var(--xl-blue);
    --app-accent: var(--primary);

    /*backgrounds*/
    --background: var(--xl-grey);
    --control-background: var(--m-grey);
    --textual-background: var(--white);
    --surface-background: var(--white);
    --alt-surface-background: var(--d-grey);

    /*accents*/
    --error: var(--red);
    --confirmation: var(--green);
    --accent-badge: var(--orange);

    /*on top colors*/
    --on-primary: var(--p-white);
    --on-secondary: var();
    --on-active: var(--p-white);
    --on-background: var(--d-grey);
    --on-alt-background: var(--p-white);
    --on-surface: var(--black);
    --on-error: var(--white);
    --on-confirmation: var(--white);
    --on-accent-badge: var(--p-white);
    
    
    /*borders*/
    --border-surface: var(--m-grey);
    --border-alt-surface: var(--m-grey);
    --border-control: var(--d-grey);

}
